.main_area {
   .banner {
      &__title {
         letter-spacing: -0.9px;
      }

      @include min-xl {
         .banner {
            &__title {
               font-size: 50px;
            }

            &__desc {
               font-size: 16px;
            }

         }

      }

      .banner_img {
         width: 670px;
         height: 670px;

         img {
            width: 100%;
         }
      }
   }
}