.main_area {
   .banner {
      h1 {
         letter-spacing: -0.9px;
      }

      .banner_img {
         width: 670px;
         height: 670px;

         img {
            width: 100%;
         }
      }
   }
}