.main_area {
   .cta {
      &__box {
         background-color: var(--primary);
         border-radius: 4px;

         @include min-lg {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
         }

         @include min-md {
            flex-direction: column;
            padding: 50px 15px;
         }

         @include min-xs {
            flex-direction: column;
         }
      }


      &__content {
         color: var(--white);
      }

      &__title {
         font-size: 32px;
         line-height: 42.56px;

         @include min-xs {
            text-align: center;
            font-size: 22px;
         }
      }

      &__desc {
         font-size: 18px;
         max-width: 475px;
         font-weight: 400;

         @include min-xs {
            font-size: 16px;
            text-align: center;
         }
      }

      &__buttons {}

      &__button {
         @include min-xs {
            padding: 10px 20px;
         }
      }
   }
}