.main_area {
   .header {
      border-bottom: 1px solid var(--border-color);

      .header_menu {

         .menu_item {
            .menu_link {
               font-size: 18px;
               font-weight: 500;
               line-height: 28.8px;

               &:hover {
                  color: var(--secondary);
               }
            }
         }
      }


   }
}

.header_menu {
   display: none;

   @include min-width {
      display: flex;
   }
}

.slicknav_menu {
   display: block;

   @include min-width {
      display: none;
   }
}