.main_area {
   .service {
      background-color: rgba(0, 153, 255, 0.04);

      .title_section {
         &__desc {
            width: 612px;
         }
      }

      &__single {
         background-color: var(--white);
         height: 342px;
         border-radius: 4px;
         box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, 0.15);
      }

      &__img {
         width: 100px;
         height: 100px;
      }

      &__desc {
         width: 255px;
         font-size: 14px;
      }
   
   }
}