.main_area {

   .title_section {
      &__desc {
         width: 600px;
      }
   }

   .team {
      background-color: rgba(0, 153, 255, 0.04);

      &__single {
         height: 379px;
         position: relative;
         border-radius: 4px 4px 0px 0px;
      }

      &__contents {
         width: 260px;
         height: 134px;
         background-color: var(--white);
         border-radius: 5px;
         box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, .15);
         position: absolute;
         bottom: 0;
         padding: 14px 0 14px 12px;
         transform: translate(26px, 65px);
      }

      &__social {
         width: 145px;

      }

      &__icon {
         font-size: 16px;

      }

      &__title {
         font-size: 24px;

         span {
            font-size: 18px;
         }
      }
   }
}