.main_area {

   .title_section {
      &__desc {
         width: 100%;
      }
   }

   .team {
      background-color: rgba(0, 153, 255, 0.04);

      &__single {
         height: 379px;
         position: relative;
         border-radius: 4px 4px 0px 0px;

         @include min-xs {
            background-size: cover !important;
         }
      }

      &__contents {
         width: 260px;
         height: 134px;
         background-color: var(--white);
         border-radius: 5px;
         box-shadow: 0px 10px 20px 0px rgba(164, 217, 253, .15);
         position: absolute;
         bottom: 0;
         padding: 14px 0 14px 12px;
         transform: translate(26px, 65px);

         @include min-xs {
            width: 96%;
            padding: 10px;
            transform: translate(2%, 55px);
         }

         @include min-md {
            width: 100%;
            padding: 10px;
            transform: translate(0px, 55px);
         }

         @include min-lg {
            width: 200px;
            transform: translate(6px, -18px);
         }

         @include min-xl {

            width: 240px;
            transform: translate(9px, 30px);

         }
      }

      &__social {
         width: 145px;

      }

      &__icon {
         font-size: 16px;

      }

      &__title {
         font-size: 24px;

         @include min-md {
            font-size: 18px;
            line-height: 30px;
            display: flex;
            flex-direction: column;

            span {
               font-size: 15px !important;
            }
         }

         span {
            font-size: 18px;
         }
      }
   }
}